<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="example suite 1" verbose="1" >
  <listeners>
		<listener class-name="com.qa.extentreportlistener.ExtentReporterNG" />
	</listeners>
  
  <test name="Regression suite 1" >
      
    <classes>
     <class name="com.tamplo.qa.test.LoginTest"></class>
      <class name="com.tamplo.qa.test.HomePageTest"></class>
    </classes>
 </test>
</suite>